<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grade calculator</title>
    <script src="index.js" type="module"></script>
  </head>

  <body>
    <!-- id is used to link index.js(vue.js) code with the current Html. 
      only the <div id="grade_calc">listed lines of items</div> will inherit the vue.js characters -->
    <div id="grade_calc">
      <!-- V-for helps to add homework grades to homeworks array -->
      <div>
        Home work :
        <div v-for="(homework, i) in homeworks">
          <input
            type="number"
            min="0"
            @keyup-enter="homeworks"
            max="100"
            placeholder="50"
            v-model="homeworks[i]"
          />from 100
        </div>
        <!-- <ul v-repeat="homeworks">
          <li>{{$value}}</li>
        </ul> -->

        <button @click="homeworks.push(homework)">Add homework</button>
        <!-- {{homeworks}} -->
        <!-- <button @click="homeworkAverage()">Submit</button> -->
      </div>
      <!-- v-model="addHomework(homework)" -->
      <!-- v-model="homeworks" -->
      <!-- <div>array {{homework}}</div>
      </div> -->

      <!-- {{ homeworks.length }} allows us to see how many items are added to the array -->
      <!-- <div>{{ homeworks.length }} homeworks:</div> -->
      <!-- every time the add homework is clicked it  -->

      <!-- <div v-model="homeworks.homeworkaverage()">Homework Average</div> -->

      <div>
        <br />
        <strong>Enter your participation grades below:</strong>
        <div>
          <!-- <br /> -->
          <div>Studio attendance:</div>

          <input
            type="number"
            min="0"
            max="100"
            placeholder="50"
            v-model="participation.studio"
          />from 100
        </div>
        <div>Homework feedback:</div>

        <input
          type="number"
          min="0"
          max="100"
          placeholder="50"
          v-model="participation.feedback"
        />from 100

        <div>General participation:</div>
        <div>
          <input
            type="number"
            min="0"
            max="100"
            placeholder="50"
            v-model="participation.other"
          />from 100
        </div>
      </div>
      <!-- {{participation}} -->
      <div>Projected class grade: {{ calculatedGrade }}</div>
    </div>

    <!-- <div>Projected class grade: {{ calculatedGrade }}</div> -->

    <!-- the code below this line is GIVEN by instructors -->
    <!-- <div>
        Participation (studio):
        <input v-model="participation.studio" /> / 100
      </div>
      <div>{{ homeworks.length }} homeworks:</div>
      <button @click="addHomework()">Add homework</button>
      <div>Projected class grade: {{ calculatedGrade }}</div> -->
    <!-- </div> -->
  </body>
</html>
